<html>
<head>
<title>管理界面</title>
</head>
<body>
<h2>校园洗衣机后台管理系统</h2>
<div>
<input type="button" value="1"/> 
<input type="button" value="2"/>
<input type="button" value="3"/>
<input type="button" value="4"/>
<input type="button" value="5"/>
<input type="button" value="6"/>
<input type="button" value="7"/>
<input type="button" value="8"/>
<input type="button" value="9"/>
<input type="button" value="10"/>
<input type="button" value="11"/>
<input type="button" value="12"/>
<input type="button" value="13"/>
<input type="button" value="14"/>
<input type="button" value="15"/>
</div>
<div>
<input type="button" value="1"/> 
<input type="button" value="2"/>
<input type="button" value="3"/>
<input type="button" value="4"/>
<input type="button" value="5"/>
<input type="button" value="6"/>
<input type="button" value="7"/>
<input type="button" value="8"/>
<input type="button" value="9"/>
<input type="button" value="10"/>
<input type="button" value="11"/>
<input type="button" value="12"/>
<input type="button" value="13"/>
<input type="button" value="14"/>
<input type="button" value="15"/>
</div>
</body>

</html>